<p *ngIf="!reservations"><em>Loading...</em></p>

<table class='table' *ngIf="reservations">
  <thead>
    <tr>
      <th>StartDate</th>
      <th>EndDate</th>
      <th>Boat</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reservation of reservations">
      <td>{{ reservation.startDate }}</td>
      <td>{{ reservation.endDate }}</td>
      <td>{{ getBoatName(reservation.reservedBoat) }}</td>
    </tr>
  </tbody>
</table>

<a [routerLink]='["/reservation/add"]'>
  <button><span class='glyphicon glyphicon-th-list'></span> Reservation</button>
</a>

